
*{
    margin: 0;
}
.register-user{
    background-color: white;
    padding: 20px;
    width: 50%;
    margin-left: 2%;
}
.register-user h1{
    text-align: center;
}
.register-user-btn{
    background-color: rgb(58, 134, 205);
    font-size: 20px;
}