
  /* Container styles */
 .additem {
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fdfafa;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Title styles */
  .additem h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  /* Form styles */
  form {
    display: flex;
    flex-direction: column;
  }
  
  /* Label styles */
  label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  /* Input styles */
  input[type="text"],
  input[type="number"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  

  .import-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    width: 100%;
    text-align: center;
  
  }
  .import-container{
    display: flex;

  }
  .import-container button{
    background-color: #007bff;
    font-size: 20px;
  }
  .import-container label{
    padding: 10px;
  }
  /* Input file field */
  input[type="file"] {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
    background-color: #fff;
    transition: border-color 0.3s ease;
  }
  
  input[type="file"]:hover {
    border-color: #007bff;
  }
  

  /* Media query for smaller screens */
  @media (max-width: 600px) {
    .container {
      padding: 15px;
      max-width: 90%;
    }
  
    input[type="file"], button {
      max-width: 100%;
    }
  }
  
 
  /* Responsive styles */
  @media (max-width: 600px) {
    div {
      padding: 15px;
      margin: 20px;
    }
  
    h2 {
      font-size: 20px;
    }
  
    input[type="text"],
    input[type="number"] {
      padding: 8px;
      font-size: 14px;
    }
  
  }
  